@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/helvetica-255');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}

* {
    font-family: 'Satoshi', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: cal(100% - 3rem);
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1140px) {
    .container {
        max-width: 90%;
    }
}

.testimonial-container {
    max-width: 1500px;
    width: calc(100% - 6rem);
    margin-left: 20%;
}

@media screen and (max-width: 768px) {
    .testimonial-container {
        margin-left: 10%;
    }
}

@media (min-width: 769px) and (max-width: 1140px) {
    .testimonial-container {
        margin-left: 10%;
    }
}

section {
    padding: 120px 0;
}

@media screen and (max-width: 658px) {
    section {
        padding: 80px 0;
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    transform: left;
    z-index: 10;
    transition: all .3s ease-in-out;
}

.active {
    backdrop-filter: blur(1.5px) brightness(50%);
}

.no-scroll {
    overflow-y: hidden;
}